@import url("https://fonts.googleapis.com/css?family=Roboto");
.shopcard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

.shopcard img {
  display: block;
  width: 100%;
  height: 320px;
}

.shopcard button {
  margin-top: 20px;
  background-color: #f32121;
  color: white;
  border: none;
  outline: none;
  padding: 10px 10px;
  width: 180px;
  height: 50px;
}

.shopcard > span {
  position: absolute;
  left: 20px;
  top: 12px;
  z-index: 200;
  font-size: 15px;
  color: white;
  background-color: #f32121;
  padding: 4px 14px;
}

.shopcard .sold {
  background-color: black;
}

.wrapper {
  font-family: sans-serif;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.wrapper:hover .overlay {
  opacity: 0.8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.content {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #3a3636;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
}

.content span {
  font-size: 12px;
  display: block;
  width: 140px;
  color: #a3a0a0;
  padding-left: 25px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 320px;
  width: 260px;
  opacity: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  background-color: #fffefe;
}

.pluginslide {
  width: 100%;
  height: auto;
  overflow: hidden;
  height: 500px;
  margin-top: 100px;
}

.pluginslide > h4 {
  font-size: 15px;
  margin-bottom: 15px;
  color: #a3a0a0;
}

.item {
  height: 300px;
}

.item > span {
  width: 60px;
  background-color: #ff0808;
  color: white;
  margin-left: 15px;
  padding: 5px 5px;
  position: absolute;
  text-align: center;
  top: 7px;
}

.item .itemsold {
  background-color: black;
}

.flowercards {
  border: none;
  margin: 80px 0px;
}

.flowercards img {
  height: 150px !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.flowerprice {
  font-size: 14px;
  color: #292828;
  text-align: center;
  font-weight: 400;
}

.flowerprice span {
  display: block;
  margin-left: 22px;
  width: 80px;
  color: #9b9999;
  font-size: 12px;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-40px) translateY(16px);
          transform: translateX(-40px) translateY(16px);
}

.tabs div:nth-child(1) {
  border-right: none;
}

.tabs div:nth-child(3) {
  border-left: none;
}

.tab-link {
  width: 160px;
  height: 50px;
  color: #9b9a9a;
  padding: 16px 10px;
  border: 0.5px solid rgba(228, 226, 226, 0.993);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.tab-content1 {
  border: 0.5px solid rgba(214, 214, 214, 0.993);
  padding: 40px 40px;
  display: none;
  color: #979595;
  display: none;
}

ul.tabs li {
  list-style-type: none;
}

ul.tabs li.current {
  background: #ff0c0c;
  color: white;
}

.tab-content1.current {
  display: block;
}

.tabgray {
  background-color: #f6f6f6;
  border: none;
}

.tablong {
  border: none;
  font-size: 13px;
}

.tabbody {
  border: none;
  border-top: 0.6px solid #d6d6d6;
}

.tabrow1 {
  margin: 70px 0px;
}

.tabrow2 {
  margin: 70px 0px;
}

.tabend {
  display: block;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.tabrow3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.accordion .toggle:hover .plus {
  visibility: hidden;
}

.accordion .sign {
  margin: 0 20px 0 10px;
}

.accordion .plus {
  position: absolute;
}

.accordMenu {
  margin-left: 5%;
  width: 90%;
}

.accordMenu .accordSections {
  width: 90% !important;
}

ul .inner {
  padding-left: 1em;
  overflow: hidden;
  display: none;
}

ul li a.toggle {
  width: 100%;
  height: 50px;
  display: block;
  color: #2f2f2f;
  padding: 0.75em;
  border-radius: 0.15em;
  border: 1px solid #999999;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-decoration: none;
}

ul li a.toggle:hover {
  background-color: #F34F3F;
  color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main {
  background-color: #F34F3F;
}

.progressbars {
  width: 100%;
  height: 200px;
  margin: 50px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.progressbars .skills {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
}

.progressbars .skills .skill-name {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "Playfair Display", sans-serif;
}

.progressbars .skills .skill-bar {
  height: 3px;
  background: #EBEBEB;
  border-radius: 8px;
  margin-bottom: 10px;
}

.progressbars .skills .skill-bar .skill-per {
  height: 3px;
  background-color: #f34f3f;
  border-radius: 8px;
  width: 0;
  -webkit-transition: 1.2s linear;
  transition: 1.2s linear;
  position: relative;
}

.progressbars .skills .skill-bar .skill-per::before {
  content: attr(per);
  position: relative;
  padding: 4px 6px;
  color: #201f1f;
  font-size: 18px;
  border-radius: 4px;
  top: -25px;
  left: 27rem !important;
  font-weight: 400;
  font-family: "Playfair Display", sans-serif;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.progressbars .skills .last .skill-bar {
  height: 3px;
  background: #000000 !important;
  border-radius: 8px;
}

.progressbars .skills .last .skill-bar .skill-per::before {
  left: 61rem !important;
}

.tabsSection .tabPart1 {
  margin-left: 1px;
  margin-bottom: 120px;
}

.tabsSection .tabPartEnd {
  margin: 120px 0;
}

.tabsSection .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  -webkit-transform: translateX(-40px) translateY(16px);
          transform: translateX(-40px) translateY(16px);
  border-left: none;
}

.tabsSection .tabLink {
  width: 160px;
  height: 50px;
  color: #979797;
  padding: 16px 10px;
  border: 0.5px solid #EEEEEE;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.tabsSection .tabText {
  border: 0.5px solid #EEEEEE;
  padding: 40px 40px;
  display: none;
  color: #979797;
}

.tabsSection ul.tabs li.current {
  background: #F34F3F;
  color: white;
}

.tabsSection .tabText.current {
  display: block;
}

.tabsSection .tabSecond {
  background-color: #F6F6F6;
  border: none;
}

.tabsSection .tabLength {
  border: none;
  font-size: 12px;
}

.tabsSection .tabBody {
  border: none;
  border-top: 0.6px solid #EEEEEE;
}

.tabsSection .tabPartEnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabsSection .tabPartEnd .tabLast {
  margin-left: 0px;
  display: block;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.productList {
  margin-left: 6%;
}

.productList .partOne {
  border-left: none !important;
  margin: 0 12px;
}

.productList .partOne img {
  width: 110px;
  height: 100px;
  margin-bottom: 20px;
}

.productList .partTwo img {
  height: 77% !important;
}

.productList .partRight {
  left: 5%;
}

.productList .partRight .body {
  color: #6d6a6a;
  width: 100%;
}

.productList .partRight .body .flowPrice {
  color: #979797;
}

.productList .partRight .body .middlePart {
  margin-bottom: 60px;
}

.productList .partRight .body .middlePart .count {
  padding: 10px 20px 9px 20px;
  border: 1px solid #979797;
  color: #979797;
  width: 240px;
}

.productList .partRight .body .middlePart .count .quantity {
  margin-right: 120px;
  font-size: 12px;
}

.productList .partRight .body .middlePart button {
  padding: 12px 40px;
  background-color: black;
  color: white;
  font-size: 12px;
}

.productList .partRight .body .lastPart p {
  font-size: 12px;
}

.relatedProducts {
  margin-bottom: 80px;
}

.relatedProducts p {
  margin-bottom: -80px;
}

.orangesmallimg img {
  height: 90px !important;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.orangesmallimg .card {
  margin-top: 50px;
}

.orangebigimg div {
  margin: 50px 40px;
}

.orangebigimg img {
  height: 520px;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.orangecontent {
  margin-left: 12%;
  margin-top: 4%;
}

.orangecontent h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.orangecontent span:nth-child(2) {
  font-size: 16px;
  color: #9b9999;
}

.orangecontent p {
  font-size: 16px;
  color: #9b9a9a;
  padding-top: 20px;
}

.orangecontent .input {
  width: 420px;
  height: 50px;
  border: 1px solid #9b9a9a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.orangecontent .orangeinfo {
  width: 200px;
  line-height: 0.1;
  margin-top: 30px;
  font-size: 14px;
}

.orangecontent button {
  height: 50px;
  width: 180px;
  background-color: black;
  color: white;
  border: none;
  outline: none;
}

.orangeinfo span {
  color: black;
  font-size: 14px;
}

.input p {
  padding: 10px 18px;
}

.input span {
  padding-top: 12px;
}

.input i {
  font-size: 13px;
  padding: 5px 10px;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.review .reviewimg img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.reviewbox h2 {
  padding: 40px 40px;
  font-size: 40px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.reviewinput textarea {
  border: 1px solid #c2c1c1 !important;
}

.reviewcontent span:nth-child(1) {
  font-size: 14px;
  color: black;
  font-weight: 600;
  padding-bottom: 10px;
}

.reviewcontent span:nth-child(2) {
  font-size: 12px;
  color: #9b9a9a;
  padding-left: 12px;
}

.reviewcontent p {
  margin-top: 10px;
  color: #9b9b9b;
  font-size: 15px;
}

.inputproduct input {
  width: 100%;
  height: 50px;
  padding-top: 20px;
  border: 1px solid #c0bebe !important;
}

.inputproduct #checkbox {
  width: 20px;
  margin-left: 0;
}

.inputproduct button {
  width: 140px;
  height: 50px;
  background-color: #f32121;
  color: white;
  border: none;
  outline: none;
}

.addition {
  height: 200px;
  font-size: 14px;
}

.additioncontent {
  position: absolute;
  left: 10%;
  margin-top: 30px;
}

.additioncontent p {
  font-size: 15px;
  font-weight: 600;
  color: black;
}

.additioncontent span {
  font-size: 13px;
  color: #9b9a9a;
}

.productdescription h2 {
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px 0px;
}

.productdescription p {
  font-size: 16px;
  color: #9b9b9b;
}

.productlistmenu a {
  font-size: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#a7a7a7), to(#585856));
  background: linear-gradient(to bottom, #a7a7a7, #585856);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none !important;
}

.accordion2 {
  margin: 70px 0px;
}

* {
  list-style-type: none;
}

body .sticky {
  position: -webkit-sticky !important;
  position: sticky !important;
  z-index: 90000;
  border-bottom: 0.5px solid #ececec;
  height: 106px;
  top: 0 !important;
}

body .frame {
  width: 100%;
  overflow: hidden;
}

body .frame .zoomin {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background-position: center;
  background-size: cover;
}

body .frame .zoomin:hover {
  background-position: center;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .5s;
  transition: all .5s;
}

body .jumbotron {
  background-color: #FAFAF9 !important;
  margin: 20px 0 80px 5px;
}

body .jumbotron h1 {
  font-size: 50px;
  line-height: 1.32em;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

body .jumbotron p {
  color: #979797;
}

body .activeName::after {
  display: block;
  background-color: black;
  width: 100%;
  height: 1px;
}

body .activeColor {
  color: red;
}

.header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .fiorello {
  padding: 40px 18px 40px 20px;
  width: 250px;
  margin-left: 70px;
  cursor: pointer;
}

.header .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -27px;
}

.header .navBar li::after {
  content: " ";
  display: block;
  border-bottom: 1px solid black;
  width: 0;
  -webkit-transition: width 0.1s;
  transition: width 0.1s;
}

.header .navBar li:hover::after {
  width: 100%;
}

.header .navBar .mainName {
  font-size: 14px;
  letter-spacing: 1px;
  padding: 42px 25px 42px 25px;
}

.header .navBar .mainName:hover .drapDown {
  display: block;
}

.header .navBar .mainName:hover .shopMenu {
  display: block;
}

.header .navBar .mainName a {
  color: black;
  text-decoration: none;
}

.header .navBar .mainName .shopMenu {
  position: absolute;
  width: 190% !important;
  padding-left: 80px;
  top: 80%;
  left: -55%;
  font-family: "Playfair Display";
  z-index: 400;
  display: none;
  background-color: white;
  padding-bottom: 40px;
}

.header .navBar .mainName .shopMenu .shopMenuLists {
  position: relative;
  width: 25% !important;
  padding: 28px 0;
  float: left;
}

.header .navBar .mainName .shopMenu .shopMenuLists li {
  width: 100% !important;
  float: none !important;
  display: block !important;
  font-size: 15px;
  margin-bottom: 13px;
  font-family: "Playfair Display";
}

.header .navBar .mainName .shopMenu .shopMenuLists li:nth-child(1) {
  color: black;
  font-size: 20px;
  margin-bottom: 20px;
}

.header .navBar .mainName .shopMenu .shopMenuLists li:after {
  content: "";
  display: block;
  width: 0;
  border-bottom: 1px solid black;
}

.header .navBar .mainName .shopMenu .shopMenuLists li:hover::after {
  width: 52%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header .navBar .mainName .drapDown {
  margin-left: -30px;
  position: relative;
  z-index: 2000;
  display: none;
}

.header .navBar .mainName .drapDown .lists {
  position: absolute;
  background-color: white;
  width: 200px;
  top: 39px;
  padding: 8px 30px;
  text-align: left;
}

.header .navBar .mainName .drapDown .lists li {
  cursor: pointer;
  padding: 8px 0;
  font-size: 13px;
}

.header .navBar .mainName .drapDown .lists .portfolio {
  padding: 0 !important;
  width: 170px !important;
  position: relative;
}

.header .navBar .mainName .drapDown .lists .portfolio .portfoliolayout {
  position: absolute;
  background-color: white;
  margin-top: -45px;
  padding: 18px !important;
  left: 170px !important;
  width: 200px !important;
  display: none !important;
  font-size: 15px;
}

.header .navBar .mainName .drapDown .lists .portfolio li:hover .portfoliolayout {
  display: block !important;
}

.header .navBar .mainName .drapDown .lists .portfolio .fa-arrow-right {
  position: absolute;
  font-size: 6px;
  padding-top: 8px;
  padding-left: 3px;
  right: 7%;
}

.header .navBar .mainName .drapDown .lists .blog {
  position: relative;
  padding: 0 !important;
  width: 170px !important;
}

.header .navBar .mainName .drapDown .lists .blog .post {
  position: absolute;
  background-color: white;
  margin-top: -45px;
  padding: 18px !important;
  left: 170px !important;
  width: 200px !important;
  display: none !important;
  font-size: 15px;
}

.header .navBar .mainName .drapDown .lists .blog li:hover .post {
  display: block !important;
}

.header .navBar .mainName .drapDown .lists .blog .fa-arrow-right {
  position: absolute;
  font-size: 6px;
  padding-top: 8px;
  padding-left: 3px;
  right: 7%;
}

.header .navBar .mainName .drapDown .lists .elements {
  position: relative;
  padding: 0 !important;
  width: 170px !important;
}

.header .navBar .mainName .drapDown .lists .elements .elementsmenu {
  position: absolute;
  background-color: white;
  margin-top: -45px;
  padding: 18px !important;
  left: 170px !important;
  width: 200px !important;
  display: none !important;
  font-size: 15px;
}

.header .navBar .mainName .drapDown .lists .elements li:hover .elementsmenu {
  display: block !important;
}

.header .navBar .mainName .drapDown .lists .elements .fa-arrow-right {
  position: absolute;
  font-size: 6px;
  padding-top: 8px;
  padding-left: 3px;
  right: 7%;
}

.header .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  padding: 43px 20px 43px 16px;
  cursor: pointer;
}

.header .icon .fa-search {
  margin-right: 20px;
}

.header .icon .fa-search:hover {
  color: red;
}

.header .icon .fa-shopping-bag {
  color: red;
  margin-left: 12px;
}

.header .icon span {
  margin-left: 20px;
  font-size: 12px;
  letter-spacing: 2px;
}

.firstSlideSection {
  margin-top: -20px;
  margin-bottom: 117px;
}

.firstSlideSection .leftSide {
  top: 1px;
  left: 36px;
  padding: 80px 0px 50px 85px;
  z-index: 10;
  width: 455px;
  position: absolute !important;
}

.firstSlideSection .leftSide h2 {
  font-family: "Playfair Display";
  font-weight: 350;
  font-size: 46.15385px;
}

.firstSlideSection .leftSide h2 span {
  color: red;
}

.firstSlideSection .leftSide p {
  margin: 25px 0;
  font-family: "Playfair Display";
  color: #979797;
  font-size: 17.64706px;
}

.firstSlideSection .leftSide img {
  padding-bottom: 70px !important;
}

.allPicSection {
  margin-top: 70px;
}

.allPicSection .aboutPic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.allPicSection .aboutPic div {
  padding: 0px 20px;
  font-size: 15px;
  font-family: "Playfair Display";
}

.allPicSection .aboutPic div:hover {
  color: red;
  cursor: pointer;
}

.allPicSection .cardImg {
  margin-top: 35px;
}

.allPicSection .cardImg .thisImg {
  width: 100%;
}

.allPicSection .cardImg .flowName {
  margin-top: 18px;
  margin-bottom: 5px;
  letter-spacing: 1px;
  font-family: "Playfair Display";
  font-size: 15px;
  text-align: center;
}

.allPicSection .cardImg .oneImg {
  padding-bottom: 18px;
}

.allPicSection .cardImg .oneImg:hover .flowPrice {
  display: none;
}

.allPicSection .cardImg .oneImg:hover .addText {
  visibility: visible !important;
  -webkit-transform: translateX(85px);
          transform: translateX(85px);
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.allPicSection .cardImg .oneImg .priceSection p {
  font-size: 12px;
  position: absolute;
  margin-bottom: 10px;
}

.allPicSection .cardImg .oneImg .priceSection .addText {
  font-family: "Playfair Display";
  color: #979797;
  visibility: hidden;
  left: 5%;
}

.allPicSection .cardImg .oneImg .priceSection .addText:hover {
  color: red;
  cursor: pointer;
}

.allPicSection .cardImg .oneImg .priceSection .flowPrice {
  left: 45%;
  font-family: "Playfair Display";
  color: #979797;
}

.valentineSection {
  margin-top: 90px;
  margin-bottom: 90px;
  background-color: #F7F7F7;
}

.valentineSection .valImg {
  margin: 120px 0 120px 0;
}

.valentineSection .valMainText {
  padding: 130px 0 0px 60px;
  font-size: 44px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

.valentineSection .valMainText span {
  color: red;
}

.valentineSection .valMidText {
  font-size: 20px;
  line-height: 30px;
  padding: 30px 0 28px 65px;
  color: #979797;
}

.valentineSection .heartPng {
  margin-left: 65px;
  color: #979797;
}

.valentineSection .heartPng img {
  padding-right: 15px;
}

.flowerExpertsSection {
  margin-top: 140px;
}

.flowerExpertsSection .flowTotalText {
  margin-bottom: 90px;
}

.flowerExpertsSection .flowTotalText .flowerExpertsMainText {
  width: 100%;
  font-size: 40px;
  font-family: "Playfair Display";
  padding-bottom: 30px;
  text-align: center;
}

.flowerExpertsSection .flowTotalText .flowerExpertsMidText {
  max-width: 520px;
  margin-left: 27%;
  text-align: center;
  font-size: 20px;
  font-family: "Playfair Display";
  color: #979797;
}

.flowerExpertsSection .flowerExpertsImg {
  padding-bottom: 140px;
}

.flowerExpertsSection .flowerExpertsImg .flowerExperts {
  margin-bottom: 20px;
}

.flowerExpertsSection .flowerExpertsImg .expertName {
  margin-bottom: 0px;
  letter-spacing: 1px;
  font-family: "Playfair Display";
  font-size: 15px;
  text-align: center;
}

.flowerExpertsSection .flowerExpertsImg .expertJob {
  font-family: "Playfair Display";
  text-align: center;
  opacity: 0.5;
}

.subscribeSection .joinUs {
  background: url("../img/Untitled.png");
  width: 100%;
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribeSection .joinUs .joinText {
  margin-top: 140px;
  text-align: center;
  font-size: 30px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  line-height: 1.4em;
  color: white;
}

.subscribeSection .joinUs .joinEmail {
  margin-left: 30%;
  text-align: center;
  font-size: 30px;
  font-family: "Playfair Display";
  color: #979797;
  margin-right: -5px;
  margin-top: 20px;
}

.subscribeSection .joinUs .subs {
  background-color: #f74747;
  color: white;
  padding: 13px 25px 9.2px 25px;
  font-size: 20px;
  cursor: pointer;
}

.fromOurBlogSection {
  background-color: #F7F7F7;
  padding-top: 120px;
}

.fromOurBlogSection .blogTotalText {
  margin-bottom: 90px;
}

.fromOurBlogSection .blogTotalText .blogMainText {
  width: 100%;
  font-size: 40px;
  font-family: "Playfair Display";
  padding-bottom: 30px;
  text-align: center;
}

.fromOurBlogSection .blogTotalText .blogMidText {
  max-width: 520px;
  margin-left: 27%;
  text-align: center;
  font-size: 20px;
  font-family: "Playfair Display";
  color: #979797;
}

.fromOurBlogSection .bloggerImg {
  padding-bottom: 140px;
}

.fromOurBlogSection .bloggerImg .blogImg .blog {
  margin-bottom: 20px;
}

.fromOurBlogSection .bloggerImg .blogImg .blogName {
  margin-bottom: 0px;
  letter-spacing: 1px;
  font-family: "Playfair Display";
  font-size: 25px;
  text-align: center;
}

.fromOurBlogSection .bloggerImg .blogImg .aboutBlog {
  margin-top: 4px;
  font-family: "Playfair Display";
  text-align: center;
  width: 280px;
  color: #979797;
  margin-left: 40px;
}

.lastSection .lastSlide {
  position: relative;
  width: 550px;
  height: 400px;
  padding: 90px 0 90px 0;
  text-align: center;
}

.lastSection .lastSlide .active {
  opacity: 1 !important;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.lastSection .lastSlide .lorem {
  opacity: 0;
  position: absolute;
}

.lastSection .lastSlide .lorem .lastSlideText {
  margin-top: 25px;
  margin-left: 10%;
  font-size: 20px;
  width: 80%;
}

.lastSection i {
  position: absolute;
  font-size: 20px;
  margin-top: 15%;
}

.lastSection .fa-long-arrow-alt-left {
  cursor: pointer;
  left: 25%;
}

.lastSection .fa-long-arrow-alt-right {
  cursor: pointer;
  right: 25%;
}

.footer {
  background-color: #FEFAF3;
}

.footer a {
  color: #979797;
  font-size: 12px;
}

@media only screen and (max-width: 1200px) {
  .icon {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  .navBar {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */