.shopcard {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    img {
        display: block;
        width: 100%;
        height: 320px;
    }
    button {
        margin-top: 20px;
        background-color: rgb(243, 33, 33);
        color: white;
        border: none;
        outline: none;
        padding: 10px 10px;
        width: 180px;
        height: 50px;
    }
    >span {
        position: absolute;
        left: 20px;
        top: 12px;
        z-index: 200;
        font-size: 15px;
        color: white;
        background-color: rgb(243, 33, 33);
        padding: 4px 14px;
    }
    .sold {
        background-color: black;
    }
}

.wrapper {
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    &:hover {
        .overlay {
            opacity: 0.8;
            transition: all 0.3s;
        }
    }
}

.content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(58, 54, 54);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    span {
        font-size: 12px;
        display: block;
        width: 140px;
        color: rgb(163, 160, 160);
        padding-left: 25px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 320px;
    width: 260px;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #fffefe;
}

.pluginslide {
    width: 100%;
    height: auto;
    overflow: hidden;
    height: 500px;
    margin-top: 100px;
    >h4 {
        font-size: 15px;
        margin-bottom: 15px;
        color: rgb(163, 160, 160);
    }
}

.item {
    >span {
        width: 60px;
        background-color: rgb(255, 8, 8);
        color: white;
        margin-left: 15px;
        padding: 5px 5px;
        position: absolute;
        text-align: center;
        top: 7px;
    }
    .itemsold {
        background-color: black;
    }
    height: 300px;
}

.flowercards {
    border: none;
    margin: 80px 0px;
    img {
        height: 150px !important;
        object-fit: cover;
    }
}

.flowerprice {
    font-size: 14px;
    color: rgb(41, 40, 40);
    text-align: center;
    font-weight: 400;
    span {
        display: block;
        margin-left: 22px;
        width: 80px;
        color: rgb(155, 153, 153);
        font-size: 12px;
    }
}

.tabs {
    display: flex;
    transform: translateX(-40px) translateY(16px);
    div {
        &:nth-child(1) {
            border-right: none;
        }
        &:nth-child(3) {
            border-left: none;
        }
    }
}

.tab-link {
    width: 160px;
    height: 50px;
    color: rgb(155, 154, 154);
    padding: 16px 10px;
    border: 0.5px solid rgba(228, 226, 226, 0.993);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.tab-content1 {
    border: 0.5px solid rgba(214, 214, 214, 0.993);
    padding: 40px 40px;
    display: none;
    color: rgb(151, 149, 149);
    display: none;
}

ul.tabs {
    li {
        list-style-type: none;
    }
    li.current {
        background: #ff0c0c;
        color: rgb(255, 255, 255);
    }
}

.tab-content1.current {
    display: block;
}

.tabgray {
    background-color: rgb(246, 246, 246);
    border: none;
}

.tablong {
    border: none;
    font-size: 13px;
}

.tabbody {
    border: none;
    border-top: 0.6px solid rgb(214, 214, 214);
}

.tabrow1 {
    margin: 70px 0px;
}

.tabrow2 {
    margin: 70px 0px;
}

.tabend {
    display: block;
    transform: translateY(0px);
}

.tabrow3 {
    display: flex;
}